{%- comment -%}Cover image or text with solid background.{%- endcomment -%}

{%- if img -%}
<div
  style="background: url({{ img }}); background-size: cover; background-repeat: no-repeat; background-position: center;"
>
{%- else -%}
<div class="bg-secondary">
{%- endif -%}
  <div class="container">
    <div class="row">
      <div class="offset-xl-1 col-xl-10 col-md-12 col-12">
        <div class="cover__py-title text-center text-light">
          <h1 class="display-3 font-weight-bold text-white mb-2">
            {{- title -}}
          </h1>
          {%- if tagline -%}
          <p class="lead">{{- tagline -}}</p>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>
