<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{% include head/seo.liquid %}

{%- comment -%}Stylesheets{%- endcomment -%}
<link rel="stylesheet" href="/assets/main.css?{{ cacheBust.mainCss }}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
{%- if katex -%}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">
{%- endif -%}

{% include head/favicon.liquid %}

<title>{{ title }}</title>
