{%- if description -%}
  {%- assign _desc = description -%}
{%- else -%}
  {%- assign _desc = siteDefaults.description -%}
{%- endif -%}
<meta name="description" content="{{ _desc }}">

<link rel="canonical" href="{{ siteDefaults.baseUrl }}{{ page.url | url }}">

{%- comment -%}Open Graph tags - see https://ogp.me for more info.{%- endcomment -%}
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ siteDefaults.baseUrl }}{{ page.url | url }}" />
<meta
  property="og:image"
  content="{{ siteDefaults.baseUrl }}{{ '/imgs/open_graph.png' | url }}"
/>
<meta property="og:description" content="{{ _desc }}" />
