<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.liquid %}
  </head>
  <body class="flex flex-col min-h-screen">
    <div style="min-height: 80vh">
      <header>
        {% include navbar.liquid %}
      </header>
      <main class="flex-grow">
        {{ content }}
      </main>
    </div>
    <div class="flex-grow">
      {% comment %}Filler space to ensure min-h-screen is satisfied.{% endcomment %}
    </div>
    <footer>
      {% include footer.liquid %}
    </footer>
    {% include scripts.liquid %}
  </body>
</html>
