---
layout: default.liquid
title: 404
description: Page not found
permalink: /404.html
eleventyExcludeFromCollections: true
---

<div class="w-full text-center my-8">
  <h1 class="text-9xl font-bold">{{- title -}}</h1>
  <p class="text-3xl font-semibold uppercase text-center">
    {{- description -}}
  </p>
</div>
